<div class="container">
  <div class="card p-2 w-50 start-50 mt-4 translate-middle-x">
    <div class="card-body">
      <h1 class="card-title m-1">Contact manager app</h1>
      <p class="card-text m-1 mt-4">A simple web app to save contacts</p>
    </div>
  </div>
</div>