<div class="conteiner position-absolute start-50 mt-3 translate-middle-x">
  <form
    class="row g-3 m-1 bg-white p-2 border"
    method="post"
    action="/contact/add"
  >
    <h2>Add contact</h2>
    <div class="col-12">
      <input
        name="name"
        type="text"
        placeholder="Name"
        class="form-control"
        id="inputEmail4"
        autofocus
        required
      />
    </div>
    <div class="col-12">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" />
        <label for="floatingInput">Description</label>
      </div>
    </div>
    <div class="col-12">
      <input
        name="phone"
        type="tel"
        placeholder="Phone"
        class="form-control"
        id="inputPassword4"
        required
      />
    </div>
    <div class="col-12">
      <input
        name="email"
        type="email"
        placeholder="Email"
        class="form-control"
        id="inputPassword4"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Add</button>
      <a href="/contact" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>