<div class="conteiner position-absolute start-50 mt-3 translate-middle-x">
  <form
    class="row g-3 m-1 bg-white p-2 border"
    method="post"
    action="/login"
  >
    <h2>Login</h2>
    <div class="col-12">
      <input
        name="username"
        type="text"
        placeholder="Username"
        class="form-control"
        id="inputEmail4"
        autofocus
      />
    </div>
    <div class="col-12">
      <input
        name="password"
        type="password"
        placeholder="Password"
        class="form-control"
        id="inputPassword4"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>